#TrafficByDeviceTypeWrapper {
	width:100%;
	max-width:600px;
	margin:0 auto;
	text-align:left;
	display:block;
}
#TrafficByDeviceTypeChart {
	margin:10px auto;
	width:90%;
	position:relative;
}
#TrafficByDeviceTypeChart div,#TrafficByDeviceTypeChart div span {
	height:20px;	
}
#TrafficByDeviceTypeChart div .percent {
	width:40px;
	position: absolute;
	top:0;
	right:-40px;
	text-align:right;
}
#TrafficByDeviceTypeChart div .title {
	width:150px;
	position: absolute;
	top:0;
	left:0px;
	text-align:left;
}
#TrafficByDeviceTypeChart div {
	position: absolute;
	display:block;
	height:20px;
	width:80%;
	margin:0 0 5px 5px;
	text-align:left;
	max-width:600px;
}
#TrafficByDeviceTypeChart div .bar {
	position: absolute;
	width:0;
	top:0;
	left:0px;
}
.red .bar {
	background:red;
	opacity: .4; 
	filter:Alpha(Opacity=40);
}
