<section id="TrafficByDeviceTypeWrapper">	

	<div id="TrafficByDeviceTypeChart" style="margin-top:10px;">
	{% for i in 0..20 %}
    	<div title="" index="{{ i }}" value="" class="red"><span class="title"></span><span class="bar"></span><span class="percent"></span></div>
	{% endfor %}
	</div>
	
</section>
<script type="text/javascript">
  $(document).ready(function () {
    require('piwik/TrafficByDeviceType').initSimpleRealtimeTrafficByDeviceTypeWidget({{ refreshInterval }});
  });
</script>
